<a href="https://colab.research.google.com/github/Supritha04/python_files/blob/main/file%201/data_structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1.Difference between the list and tuple?

In [2]:
list_eg=[1,2,3,4]
tup_eg=(1,2,3)
print("list: ",list_eg)
print("tuple: ",tup_eg)

list:  [1, 2, 3, 4]
tuple:  (1, 2, 3)

## 2.How list is different from an array

## 3. Use the python list append(),copy(), clear, count, extends(), index(), insert(), pop(), reverse(), sort(), min(), max(),and sum()

In [6]:
l=[1,2,3,4]
print(l)
l.append(5)
print(l)
c=l.copy()
print(c)
c.clear()
print(c)
count=l.count(4)
print(count)
l.extend([6,7])
print(l)
print("4th index: ",l.index(4))
l.insert(2,8)
print(l)
p=l.pop()
print(p)
l.reverse()
print(l)
l.sort()
print(l)
min=min(l)
max=max(l)
sum=sum(l)
print("min: ",min,"max: ",max,"sum: ",sum)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[]
1
[1, 2, 3, 4, 5, 6, 7]
4th index:  3
[1, 2, 8, 3, 4, 5, 6, 7]
7
[6, 5, 4, 3, 8, 2, 1]
[1, 2, 3, 4, 5, 6, 8]
min:  1 max:  8 sum:  29

## 4, How would you divide the list into two parts?

In [17]:
l = [1, 2, 3, 4, 5, 6]
length = 3
fh = l[:length]
sh = l[length:]

print(fh)
print(sh)

[1, 2, 3]
[4, 5, 6]

## 5. how to filter the multiple of 3 from a given list and them remove the odd number from the new filtered list.
Eg A = [1,2,3,4,5,6,7,8,9,21,23,24]
Filter_lsit = [3,6,9,21,24]
output_list = [6,24]

In [19]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 21, 23, 24]
fl = []
for num in l:
    if num % 3 == 0:
        fl.append(num)
ol = []
for num in fl:
    if num % 2 == 0:
        ol.append(num)
print("Original List:", l)
print("Filtered List (divisible by 3):", fl)
print("Output List (divisible by both 3 and 2):", ol)

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 21, 23, 24]
Filtered List (divisible by 3): [3, 6, 9, 21, 24]
Output List (divisible by both 3 and 2): [6, 24]

## 6. How you can access keys and values simultaneously and update its value

In [21]:
d={'a': 1, 'b': 2, 'c': 3, 'd': 4}
for key, value in d.items():
    print(f"Key: {key}, Value: {value}")
for key in d.keys():
    d[key] *= 2
print("Updated Dictionary:", d)

Key: a, Value: 1
Key: b, Value: 2
Key: c, Value: 3
Key: d, Value: 4
Updated Dictionary: {'a': 2, 'b': 4, 'c': 6, 'd': 8}

## 7. Write python program to join, merge, concatente the two dictionaries..

In [23]:
d1={'a': 1, 'b': 2}
d2={'b': 3, 'c': 4}
d1.update(d2)
print("Joined Dictionary:", d1)
md={**d1, **d2}
print("Merged Dictionary:", md)
cd = dict(list(d1.items()) + list(d2.items()))
print("Concatenated Dictionary:", cd)

Joined Dictionary: {'a': 1, 'b': 3, 'c': 4}
Merged Dictionary: {'a': 1, 'b': 3, 'c': 4}
Concatenated Dictionary: {'a': 1, 'b': 3, 'c': 4}

## 8. How would you check a specific keys from the dictionary??

In [24]:
d={'a': 1, 'b': 2, 'c': 3, 'd': 4}
k='b'
if(k in d):
  print(k," is present in the list")

b  is present in the list

## 9. write a python program to find the unique vowel present in the sentence

In [25]:
s="Python is amazing"
vowels=set("aeiou")
uv=set()
for char in s:
    lc=char.lower()
    if lc in vowels:
        uv.add(lc)
print("Unique vowels in the sentence:",uv)

Unique vowels in the sentence: {'i', 'o', 'a'}

## 10. We know that tuple is immutable, do any thing and add element to the tuples.

In [26]:
t=(1,2,3,4)
#tuples are immutable so elements cannot be added
l=list(t)
l.append(4)
nt= tuple(l)
print(nt)

(1, 2, 3, 4, 4)

## 11. How would you sum the list of tuple and sum of tuple of list
list  = [(2,3),(4,5),(6,4)]
output= [5,9,10]

tuple  =([2,3],[4,5],[6,4])
output  =  (5,9,10)

In [36]:
lt=[(2, 3), (4, 5), (6, 4)]
st=[sum(pair) for pair in lt]
tl=([2, 3], [4, 5], [6, 4])
sl=tuple(map(sum, tl))

## 12. FIND THE FREQUENCY OF THE KEYS IN THE GIVEN DICTIONARY

In [31]:
md={'a': 2, 'b': 3, 'c': 1, 'd': 2, 'e': 3, 'f': 2}
kf={key: list(md.values()).count(value) for key, value in md.items()}
for key, f in kf.items():
    print(f"The key ",key,"appears ",f,"times in the dictionary")

The key  a appears  3 times in the dictionary
The key  b appears  2 times in the dictionary
The key  c appears  1 times in the dictionary
The key  d appears  3 times in the dictionary
The key  e appears  2 times in the dictionary
The key  f appears  3 times in the dictionary